<!-- views/businesses/show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= foundCar.name%>
    </title> <!-- Dynamic title based on business name -->
</head>

<body>
    <h1>
        <%= foundCar.name %>
    </h1>
    <% if (foundCar.isFavorite) { %> ✅ Favorite <% } %>
            <p><strong>Model:</strong>
                <%= foundCar.model %>
            </p>
            <p><strong>Make:</strong>
                <%= foundCar.make %>
            </p>
            <p><strong>Color:</strong>
                <%= foundCar.color %>
            </p>
            <p><strong>Year:</strong>
                <%= foundCar.year %>
            </p>
            <p><strong>Price:</strong>
                <%= foundCar.price %>
            </p>
            <p><strong>Description:</strong>
                <%= foundCar.description %>
            </p>
            <div class="actions">
                        <form action="/cars/<%=foundCar._id%>?_method=DELETE" method="POST">
                            <button class="delete-button" type="submit">Delete <%= foundCar.name %> </button>
                        </form>
                    </div>
            <a class="car-index-link" href="/car">
                <div class="index-link-text">Back to All Businesses</div>
            </a>
</body>

</html>